.navbar {
    background-color: #214F4B;
    border-bottom: 1px solid black;
}

.navbar-brand img {
    width: 50px;
}

.btn-success {
    margin: 10px 0 10px 0;
}

#websiteTitle {
    color: black;
}

iframe {
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    position: absolute;
}

.table-group-divider {
    border-top-color: cadetblue;
}

#contactCard {
    width: 50%;
}

.form-control {
    width: 100%;
}

.table-hover tbody tr:hover td {
    color: cadetblue;
}

.nav-link:hover {
    color: white;
}

form {
    margin: 0 auto;
    width: 25%;
    text-align: center;
}